In [1]:
val spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

spark = org.apache.spark.sql.SparkSession@5a0cf672

Spark local-1536495648370: Some(http://192.168.0.124:4040)

In [2]:
val dataFrame = spark.read.option("inferSchema", "true").option("header", "true").csv("files/fakefriends.csv")

dataFrame = [ID: int, name: string ... 2 more fields]

[ID: int, name: string ... 2 more fields]

In [63]:
import spark.implicits._
val dataSet = namedDataFrame.as[Person].cache()

dataSet = [ID: int, name: string ... 2 more fields]

[ID: int, name: string ... 2 more fields]

In [65]:
dataSet.select("name").show()

+--------+
|    name|
+--------+
|    null|
|    Will|
|Jean-Luc|
|    Hugh|
|  Deanna|
|   Quark|
|  Weyoun|
|  Gowron|
|    Will|
|  Jadzia|
|    Hugh|
|     Odo|
|     Ben|
|   Keiko|
|Jean-Luc|
|    Hugh|
|     Rom|
|  Weyoun|
|     Odo|
|Jean-Luc|
+--------+
only showing top 20 rows

In [66]:
dataSet.filter(dataSet("age") >= 13 && dataSet("age") <= 19).show()

+---+-------+---+----------+
| ID|   name|age|numFriends|
+---+-------+---+----------+
| 21|  Miles| 19|       268|
| 52|Beverly| 19|       269|
| 54|  Brunt| 19|         5|
|106|Beverly| 18|       499|
|115|  Dukat| 18|       397|
|133|  Quark| 19|       265|
|136|   Will| 19|       335|
|225|   Elim| 19|       106|
|304|   Will| 19|       404|
|341|   Data| 18|       326|
|366|  Keiko| 19|       119|
|373|  Quark| 19|       272|
|377|Beverly| 18|       418|
|404| Kasidy| 18|        24|
|409|    Nog| 19|       267|
|439|   Data| 18|       417|
|444|  Keiko| 18|       472|
|492|  Dukat| 19|        36|
|494| Kasidy| 18|       194|
+---+-------+---+----------+

In [67]:
dataSet.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  31|    8|
|  65|    5|
|  53|    7|
|  34|    6|
|  28|   10|
|  26|   17|
|  27|    8|
|  44|   12|
|  22|    7|
|  47|    9|
|null|    1|
|  52|   11|
|  40|   17|
|  20|    5|
|  57|   12|
|  54|   13|
|  48|   10|
|  19|   11|
|  64|   12|
|  41|    9|
+----+-----+
only showing top 20 rows