In [2]:
val spark = SparkSession.builder.appName("Book").getOrCreate()

spark = org.apache.spark.sql.SparkSession@43ec29d5

Spark local-1536606442904: Some(http://192.168.0.124:4040)

In [3]:
val dataFrame = spark.read.option("inferSchema", "true").textFile("files/book.txt").flatMap(_.split("\\W+"))

dataFrame = [value: string]

[value: string]

In [4]:
import spark.implicits._

case class Word(value: String)

val dataSet = dataFrame.as[Word].cache()

defined class Word
dataSet = [value: string]

[value: string]

In [5]:
import org.apache.spark.sql.functions._

dataSet.groupBy("value").count().orderBy(desc("count")).show()

+--------+-----+
|   value|count|
+--------+-----+
|      to| 1816|
|     you| 1690|
|    your| 1340|
|     the| 1178|
|       a| 1149|
|      of|  951|
|     and|  910|
|    that|  705|
|      in|  574|
|      it|  548|
|      is|  542|
|     for|  515|
|      on|  426|
|     are|  401|
|       I|  387|
|       s|  385|
|      be|  358|
|     can|  355|
|business|  350|
|    have|  311|
+--------+-----+
only showing top 20 rows