In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range("20180101", periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))

In [4]:
df

                   A         B         C         D
2018-01-01  1.588633  0.829100  0.759223 -2.129852
2018-01-02  0.071599 -0.867425  0.424277  0.560261
2018-01-03 -0.909913  0.931977 -0.654862 -1.067899
2018-01-04  0.428436 -0.993756  0.967526  2.116396
2018-01-05  0.046950 -0.398063 -1.700478  0.916437
2018-01-06 -1.338212  0.647533  1.149550 -0.633910

In [5]:
df["A"]

2018-01-01    1.588633
2018-01-02    0.071599
2018-01-03   -0.909913
2018-01-04    0.428436
2018-01-05    0.046950
2018-01-06   -1.338212
Freq: D, Name: A, dtype: float64

In [6]:
df[0:3]

                   A         B         C         D
2018-01-01  1.588633  0.829100  0.759223 -2.129852
2018-01-02  0.071599 -0.867425  0.424277  0.560261
2018-01-03 -0.909913  0.931977 -0.654862 -1.067899

In [7]:
df["20180102":"20180104"]

                   A         B         C         D
2018-01-02  0.071599 -0.867425  0.424277  0.560261
2018-01-03 -0.909913  0.931977 -0.654862 -1.067899
2018-01-04  0.428436 -0.993756  0.967526  2.116396