In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range("20180101", periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))

In [3]:
df.head()

                   A         B         C         D
2018-01-01 -1.020572 -0.006397 -1.011322  1.316941
2018-01-02 -0.842566  0.157689  0.140807 -0.052028
2018-01-03 -0.839231  0.677402  1.336337  1.016277
2018-01-04  1.062673 -0.450575 -1.559389  0.789356
2018-01-05  2.334675 -0.279002 -0.281164 -0.307630

In [4]:
df.tail(3)

                   A         B         C         D
2018-01-04  1.062673 -0.450575 -1.559389  0.789356
2018-01-05  2.334675 -0.279002 -0.281164 -0.307630
2018-01-06  0.321718 -1.487350 -0.608377  0.945925

In [5]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
df.values

array([[-1.0205719 , -0.00639727, -1.01132211,  1.31694083],
       [-0.84256624,  0.15768868,  0.14080737, -0.05202762],
       [-0.83923096,  0.67740183,  1.33633718,  1.016277  ],
       [ 1.06267343, -0.45057485, -1.55938863,  0.78935611],
       [ 2.33467511, -0.27900176, -0.28116404, -0.30762996],
       [ 0.32171787, -1.48734982, -0.60837702,  0.94592456]])

In [8]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.169450 -0.231372 -0.330518  0.618140
std    1.339179  0.728787  1.005367  0.646493
min   -1.020572 -1.487350 -1.559389 -0.307630
25%   -0.841732 -0.407682 -0.910586  0.158318
50%   -0.258757 -0.142700 -0.444771  0.867640
75%    0.877435  0.116667  0.035315  0.998689
max    2.334675  0.677402  1.336337  1.316941