In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20180101", periods=6)

In [5]:
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))

In [7]:
df

                   A         B         C         D
2018-01-01 -0.019134  0.401292 -0.015577 -2.297749
2018-01-02  0.973875  1.753649  0.103540  0.825107
2018-01-03  0.017723  0.458087 -0.475319 -0.906269
2018-01-04 -1.899923  1.776306  0.077017  0.281374
2018-01-05  1.031490 -0.486756  0.346379  0.885635
2018-01-06 -0.844366  1.041724  0.710329 -0.486431

In [9]:
df2 = pd.DataFrame({"A": 1, "B": pd.Timestamp("20180101"), "C": pd.Series(1, index=list(range(4)), dtype="float32"),
                   "D": np.array([3] * 4, dtype="int32"), "E": pd.Categorical(["test", "train", "test", "train"]),
                   "F": "foo"})

In [10]:
df2

   A          B    C  D      E    F
0  1 2018-01-01  1.0  3   test  foo
1  1 2018-01-01  1.0  3  train  foo
2  1 2018-01-01  1.0  3   test  foo
3  1 2018-01-01  1.0  3  train  foo

In [12]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object