In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Join").getOrCreate()

In [8]:
employee_df = spark.read.option("inferSchema", "true").option("header", "true").json("files/employee.json")
department_df = spark.read.option("inferSchema", "true").option("header", "true").json("files/department.json")

In [21]:
employee_df.show()

+------+------+----------+
|depart|  name|      role|
+------+------+----------+
|     1|  Jane| recruiter|
|     2|Victor|  designer|
|     1|  John| recruiter|
|     2|   Ana|programmer|
|     1|  Mark| recruiter|
+------+------+----------+

In [22]:
department_df.show()

+---+----------+
| id|      name|
+---+----------+
|  1|        HR|
|  2|Technology|
+---+----------+

In [36]:
columns = ["emp_name", "dep_name"]
employee_df.join(department_df, employee_df.depart == department_df.id).select(employee_df.name, department_df.name).toDF(*columns).show()

+--------+----------+
|emp_name|  dep_name|
+--------+----------+
|    Jane|        HR|
|  Victor|Technology|
|    John|        HR|
|     Ana|Technology|
|    Mark|        HR|
+--------+----------+